resources:
{% for index in range(1, properties['count'] + 1) %}
{% set NAME_PREFIX = properties['namePrefix'] + '-' +  env['project'] %}
- name: {{ NAME_PREFIX }}
  type: compute.v1.instance
  properties:
    zone: {{ properties['zone'] }}
    machineType: https://www.googleapis.com/compute/v1/projects/{{ env['project'] }}/zones/{{ properties['zone'] }}/machineTypes/{{ properties['machineType'] }}
    metadata:
      items:
      # For more ways to use startup scripts on an instance, see:
      #   https://cloud.google.com/compute/docs/startupscript
      - key: startup-script
        value: |
          #! /bin/bash
          apt-get update
          apt-get install -y apache2
          cat <<EOF > /var/www/html/index.html
          <html><body><h1>Cloud Academy</h1>
          <p>This page is hosted on one of the instance in your instance group!</p>
          </body></html>
    disks:
    - deviceName: boot
      type: PERSISTENT
      boot: true
      autoDelete: true
      initializeParams:
        diskName: {{ NAME_PREFIX }}-disk
        sourceImage: {{ properties['image'] }}
    networkInterfaces:
    - network: https://www.googleapis.com/compute/v1/projects/{{ env['project'] }}/global/networks/default
      {% if properties['hasExternalIp'] %}
      accessConfigs:
      - name: external-nat
        type: ONE_TO_ONE_NAT
      {% endif %}
{% endfor %}
