{% set namePrefix = properties['namePrefix'] or 'calabs-bucket' %}
{% set randomMaterial = env["current_time"] -%}
{% set bucketName = namePrefix ~ '-' ~ randomMaterial %}
{% set versioningEnabled = properties.get('versioning', {}).get('enabled', false) %}

resources:
- name: {{ bucketName }}
  type: storage.v1.bucket
  properties:
    kind: storage#bucket
    storageClass: STANDARD
    versioning:
      enabled: {{ versioningEnabled }}
- name: {{ bucketName }}-acl
  action: gcp-types/storage-v1:storage.bucketAccessControls.insert
  properties:
    bucket: $(ref.{{ bucketName }}.name)
    kind: storage#bucketAccessControl
    entity: allUsers
    role: WRITER

outputs:
- name: labBucketName
  value: $(ref.{{ bucketName }}.name)