import string
data = 'Jack and jill were walking up the hill on the way to the Supermarket to get some mineral water when Jack tripped over a pothole in the road.He fell down and broke his smartphone. "Oh dear!" said jack;actually,he didn’t say "Oh dear",he used some words that Jill was sure his mother wouldn’t approve of and went on to make some descriptive comments on what he thought of the state of the roads leading up the hill.jill was so shocked that she didn’t look where she was going and fell down,too, tumbling all the way down the hill; jack got up and went home to mend his phone. jill suggested using her granny’s remedy of vinegar and brown paper to fix the phone; Jack replied with a comment that got him grounded for a week during which time he repaired his phone with duct tape and superglue but it was never the same again .'
 

import string


#correct punctuation, break into words

form = data.replace(';','.').replace(',',', ').replace(',  ',', ').replace('.','.  ')
form = form.split(' ')


#capitalize names

name = ['jack', 'jill']
ls = []
for i in form:
    if i == '':
        pass
    elif i.translate(str.maketrans('','', string.punctuation)) in name:
        ls.append(i.capitalize())
    else:
        ls.append(i.strip())


#reconstitute, break into sentences

new = ' '.join(ls).replace('.','.  ')[:-3] + '.  '
new2 = new.split('.  ')


#capitalize first word of each sentence

new3 = []
x = int(len(new2))
for i in range(0,x):
    check = new2[i].split(' ')[0]
    if check == check.lower():
        j = int(len(check)+1)
        check2 = new2[i][j:]
        sentence = str(check.capitalize()) + ' ' + str(check2)
        new3.append(sentence)
    else:
        new3.append(new2[i])

#reconstitute into output

new4 = '.  '.join(new3)[:-1]

print(new4)

# ====================================
# Do not change the code after this
def ocr_format(text):
    '''
    Return a string containing the text formatted as follows:
    -

    Arguments
    test: a string of text received from the OCR
    
    Examples
    ocr_format("") returns ""
    '''
    # ====================================
    # Do not change the code before this


    # CODE1: Write code that formats the text

    # fix proper names
    data = fix_proper_names(text)

    ## fix duplicated punctuation if any
    data = fix_duplicate_punctuation(data)

    ## replace the semi-colons with full stops
    ## trailing spaces will be fixed in fix_sentence_ending function
    data = fix_semicolons(data)
    data = fix_commas(data)
    ##print(data)   

    ## break up the text into sentences
    sentences = data.split(".")
    for i in range(len(sentences)):
        x = sentences[i]
        sentences[i] = fix_sentence_ending(x)  
        ##print(sentences[i])
    return displayText(sentences)
 
if __name__ == '__main__':
    print(ocr_format(data))