resources:
- name: dlp-sa
  type: iam.v1.serviceAccount
  properties:
    accountId: dlp-sa
    projectId: {{ env["project"] }}
- name: bind-iam-policy
  type: gcp-types/cloudresourcemanager-v1:virtual.projects.iamMemberBinding
  properties:
    resource: {{ env["project"] }}
    role: roles/dlp.admin
    member: serviceAccount:dlp-sa@{{ env["project"] }}.iam.gserviceaccount.com
