{% set roleId = "labcustomrole_" + (env["current_time"]|string()) %}

resources:
- name: lab-custom-role
  type: gcp-types/iam-v1:projects.roles
  properties:
    parent: projects/{{ env["project"] }}
    roleId: {{ roleId }}
    role:
      title: LabCustomRole
      description: Custom role for the lab
      stage: GA
      includedPermissions: {{ properties["includedPermissions"] }}
outputs:
- name: roleId
  value: {{ 'projects/' ~ env["project"] ~ '/roles/' ~ roleId }}
