{% set roleIdPrefix = properties['roleIdPrefix'] or 'labcustomrole' %}
{% set roleId = roleIdPrefix ~ '_' + (env["current_time"]|string()) %}
{% set name = properties['name'] or 'lab-custom-role' %}
{% set title = properties['title'] or 'LabCustomRole' %}

resources:
- name: {{ name }}
  type: gcp-types/iam-v1:projects.roles
  properties:
    parent: projects/{{ env["project"] }}
    roleId: {{ roleId }}
    role:
      title: {{ title }}
      description: Custom role for the lab
      stage: GA
      includedPermissions: {{ properties["includedPermissions"] }}
outputs:
- name: roleId
  value: {{ 'projects/' ~ env["project"] ~ '/roles/' ~ roleId }}
