{% set domain = env['project'].split(':') %}
{% if domain|length >1 %}
{% set projectName = domain[1] + '.' + domain[0] %}
{% else %}
{% set projectName = domain[0] %}
{% endif %}
{% set roles = properties['roles'] %}
{% set identifierSuffix = properties['identifierSuffix'] or 'sa' %}
{% set saIdentifier = (projectName ~ '-' ~ identifierSuffix)[:30] %}
{% set displayName = properties['displayName'] or saIdentifier %}

resources:
- name: {{ saIdentifier }}
  type: iam.v1.serviceAccount
  properties:
    accountId: {{ saIdentifier }}
    displayName: {{ displayName }}
{% for role in roles %}
- name: bind-iam-policy-{{ identifierSuffix }}-{{ loop.index }}
  type: gcp-types/cloudresourcemanager-v1:virtual.projects.iamMemberBinding
  properties:
    resource: {{ projectName }}
    role: {{ role }}
    member: serviceAccount:$(ref.{{ saIdentifier }}.email)
{% endfor %}

outputs:
- name: name
  value: $(ref.{{ saIdentifier }}.name)
- name: serviceAccount
  value: $(ref.{{ saIdentifier }}.email)
