{% set domain = env['project'].split(':') %}
{% if domain|length >1 %}
{% set projectName = domain[1] + '.' + domain[0] %}
{% else %}
{% set projectName = domain[0] %}
{% endif %}
{% set roles = properties['roles'] %}

resources:
- name: {{ projectName }}-svc-account
  type: iam.v1.serviceAccount
  properties:
    accountId: {{ projectName }}-svc-account
    displayName: {{ projectName }}-svc-account
  accessControl:
    gcpIamPolicy:
      bindings:
{% for role in roles %}
      - role: {{ role }}
        members:
        - "serviceAccount:{{ projectName }}-svc-account@{{ projectName }}.iam.gserviceaccount.com"
{% endfor %}

outputs:
- name: serviceAccount
  value: $(ref.{{ projectName }}-svc-account.email)