{% set machineType = properties['machineType'] or 'f1-micro' %}
{% set sourceImage = properties['sourceImage'] or 'https://www.googleapis.com/compute/v1/projects/debian-cloud/global/images/debian-10-buster-v20220719' %}
{% set preemptible = properties['preemptible'] or true %} # preemptible: 'false' in config to override (premptible: false will result in the or true being used)
{% set zone = properties['zone'] or 'us-central1-a' %}
{% set network = properties['network'] or 'global/networks/default' %}

resources:
- name: {{ properties['name'] }}
  type: compute.v1.instance
  properties:
    zone: {{ zone }}
    machineType: zones/{{ zone }}/machineTypes/{{ machineType }}
    metadata:
      items:
        - key: startup-script
          value: |
            sudo apt update && sudo apt install --only-upgrade google-cloud-sdk
            {{ properties['startup-script']|indent(12) }}
    disks:
    - deviceName: ca-lab-disk
      type: PERSISTENT
      boot: true
      autoDelete: true
      initializeParams:
        sourceImage: {{ sourceImage }}
        diskSizeGb: 10
    networkInterfaces:
    - network: {{ network }}
      {% if properties["networkIP"] %}
      networkIP: {{ properties["networkIP"] }}
      {% endif %}
      {% if properties["subnetwork"] %}
      subnetwork: {{ properties["subnetwork"] }}
      {% endif %}
      accessConfigs:
      - name: External NAT
        type: ONE_TO_ONE_NAT
    scheduling: 
      preemptible: {{ preemptible }}
    serviceAccounts:
      - email: {{ env['project_number'] }}-compute@developer.gserviceaccount.com
        scopes: {{ properties['scopes'] }}
  
outputs:
- name: externalIp
  value: $(ref.{{ properties['name'] }}.networkInterfaces[0].accessConfigs[0].natIP)
